{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>NRA Agro - Nova Senha</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
</head>
<body class="login-bg">
    <div class="login-container">
        <form method="POST" class="form-glass">
            {% csrf_token %}
            <div class="login-header">
                <h2>Nova Senha</h2>
                <h4>Digite sua nova senha abaixo.</h4>
            </div>
            
            {% for field in form %}
                <div class="input-group">
                    <label>{{ field.label }}</label>
                    <div class="input-with-icon">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <small style="color: #ff6b6b;">{{ field.errors }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn-login-main">Salvar Nova Senha</button>
        </form>
    </div>
</body>
</html>